<article class="card-service p-5" [ngClass]="bgClass">
    <h3 class="montserrat fs-3 text-center color-primary-900 text-center"> {{title}}
        <br> {{afterBr}}
    </h3>
    <div class="mt-4 ">
        <div class="d-flex mt-2" *ngFor="let description of descriptions">
            <span class="material-symbols-outlined fs-5 color-primary-500 me-2">done</span>
            <p class="montserrat fs-6 color-secondary">
                {{description}}
            </p>
        </div>
    </div>
</article>