<div class="card p-4" style="z-index: 1;">
    <div class="card-header bg-white border-0">
        <div class="d-md-flex justify-content-between align-items-center">
            <div class="">
                <h3 class="fs-2 color-secondary montserrat"> Historial de Eventos</h3>
            </div>
        </div>
        <form #filtersForm="ngForm" (ngSubmit)="reload()" class="filters mt-3 d-md-flex">
            <div class="w-100">
                <label for="filter_name" class="label-filter">Nombre</label>
                <input type="text" class="form form-filter w-100" placeholder="Busqueda por nombre"
                    [(ngModel)]="filters.name" name="filter_name" id="filter_name">
            </div>
            <div class="w-100">
                <label for="filter_date_meeting" class="label-filter">Fecha</label>
                <input type="date" class="form form-filter w-100" [(ngModel)]="filters.date_meeting" name="filter_date"
                    id="filter_date">
            </div>
            <div class="w-100">
                <label for="filter_start_hour" class="label-filter">Hora de inicio</label>
                <input type="time" class="form form-filter w-100" [(ngModel)]="filters.start_hour"
                    name="filter_start_hour" id="filter_start_hour">
            </div>
            <div class="w-100">
                <label for="filter_end_hour" class="label-filter">Hora de finalización</label>
                <input type="time" class="form form-filter w-100" [(ngModel)]="filters.end_hour" name="filter_end_hour"
                    id="filter_end_hour">
            </div>
            <div class="d-flex align-items-end">
                <button type="submit" class="button-search"> Buscar </button>
            </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive table-hover table-bordered">

                <thead>
                    <tr class="">
                        <th scope="col" class="center-item-table">Nombre</th>
                        <th scope="col" class="center-item-table">Fecha</th>
                        <th scope="col" class="center-item-table">Hora Entrada</th>
                        <th scope="col" class="center-item-table">Hora Salida</th>
                        <th class="center-item-table">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of entities">
                        <td class="center-item-table">{{row.name}}</td>
                        <td class="center-item-table">{{row.date_meeting}}</td>
                        <td class="center-item-table">{{row.start_hour}}</td>
                        <td class="center-item-table">{{row.end_hour}}</td>
                        <td class="center-item-table">
                            <div class="d-flex" style="justify-content: space-evenly;">
                                <a class="btn text-primary" [routerLink]="['/details', row.id]"> Ver </a>
                                <!-- <a class="btn text-danger"> Eliminar </a> -->

                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <!-- <div class="d-flex justify-content-end mt-4 w-100 overflow-x-auto">
            <div class="d-flex justify-content-center">
                <a class="button-pagination">1</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination">2</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination-fill">3</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination">4</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination">5</a>
            </div>

        </div> -->
    </div>
</div>