.navbar-white {
    transition: 250ms;
    background-color: white;
    box-shadow: 0px 2px 4px 2px #eeeeee;
    z-index: 10;
    border: 1px #dbdbdb solid;
}

.navbar-light {
    transition: 250ms;
}