<nav class="navbar navbar-expand-lg navbar-light position-fixed w-100"
    [ngClass]="{'navbar-white': offsetY>=20 || navActve }">
    <div class="container">
        <img class="d-none d-md-block w-25 navbar-brand img-fluid clickeable" src="assets/images/logo.png"
            [routerLink]="''">
        <img class="d-block d-md-none w-50 navbar-brand img-fluid clickeable" src="assets/images/logo.png"
            [routerLink]="''">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="switchBgNav()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav" *ngIf="!existsToken else templateButtonsPanel">
                <li class="nav-item">
                    <a [routerLink]="'login'" class="simple-button-primary-500 jakarta pe-3">Iniciar
                        Sesión</a>
                </li>
                <li>
                    <a [routerLink]="'register'" class="simple-button-secondary jakarta">Registrarse como
                        organizador</a>
                </li>
            </ul>
            <ng-template #templateButtonsPanel>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="'dashboard'" class="simple-button-primary-500 jakarta pe-3">Ir a mi panel de
                            organizador
                        </a>
                    </li>
                    
                </ul>
            </ng-template>
        </div>
    </div>
</nav>