<div class="bg-white">
    <div class="bg-circle" id="navbar_banner">
        <app-navbar></app-navbar>
        <header class="container pt-5">
            <div class="row align-items-center">
                <div class="d-none d-md-block col-md-6">
                    <img class="img-fluid" src="assets/images/conceptual-banner-2.png">
                </div>
                <div class="col-md-6">
                    <div class="d-none d-md-block">
                        <h1 class="fs-4 montserrat color-secondary"> CheckAssist </h1>
                        <h2 class="fs-1 jakarta color-secondary mb-4"><span class="color-primary-500">¡Registrate
                            </span>en tu evento! <br> <span class="color-primary-500">Ubicate</span> y confirma
                            <br>
                            tu
                            <span class="color-primary-500">asistencia.</span>
                        </h2>
                        <button [routerLink]="'home'" class="fill-button-primary-500">
                            <span class="material-symbols-outlined fs-6">
                                download
                            </span>
                            Descarga la aplicación
                        </button>
                    </div>
                    <div class="d-block d-md-none text-center mt-5 mb-5 pt-5 pb-5">
                        <h1 class="fs-3 montserrat color-secondary mb-3"> CheckAssist </h1>
                        <h2 class="display-1 jakarta color-secondary mb-4"> <span class="color-primary-500">¡Registrate
                            </span>en tu evento! <br> <span class="color-primary-500">Ubicate</span> y confirma
                            <br>
                            tu
                            <span class="color-primary-500">asistencia.</span>
                        </h2>
                        <button [routerLink]="'home'" class="fill-button-primary-500">
                            <span class="material-symbols-outlined fs-6">
                                download
                            </span>
                            Descarga la aplicación
                        </button>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container mt-5" #benefits id="benefits">
        <div class="row">
            <div class="col-md-3 mt-5">
                <div class="d-flex align-items-center card-primary-50 p-4 pt-5">
                    <article>
                        <h3 class="montserrat fs-5 text-center color-secondary"> BENEFICIO 1</h3>
                        <p class="text-center text-size pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Optio
                            error voluptatibus placeat quia maxime totam animi? Minima.</p>
                    </article>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="d-flex align-items-center card-primary-50 p-4 pt-5">
                    <article>
                        <h3 class="montserrat fs-5 text-center color-secondary"> BENEFICIO 2</h3>
                        <p class="text-center text-size pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Optio
                            error voluptatibus placeat quia maxime totam animi? Minima.</p>
                    </article>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="d-flex align-items-center card-primary-50 p-4 pt-5">
                    <article>
                        <h3 class="montserrat fs-5 text-center color-secondary"> BENEFICIO 3</h3>
                        <p class="text-center text-size pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Optio
                            error voluptatibus placeat quia maxime totam animi? Minima.</p>
                    </article>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="d-flex align-items-center card-primary-50 p-4 pt-5">
                    <article>
                        <h3 class="montserrat fs-5 text-center color-secondary"> BENEFICIO 4</h3>
                        <p class="text-center text-size pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Optio
                            error voluptatibus placeat quia maxime totam animi? Minima.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div #use></div>
    <div class="container p-4" id="use">
        <div class="row align-items-center">
            <div class="col-md-7 text-center">
                <h2 class="jakarta color-secondary fs-1"> 1. Registrate como organizador <br> y crea tu evento</h2>
                <p class="mt-2 fs-5 color-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                    alias
                    ullam
                    dicta reiciendis velit sint sunt voluptatum non dolores ut possimus molestiae dolor</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="assets/images/conceptual-step1.png">
            </div>
        </div>
    </div>

    <div class="bg-primary-80">
        <div class="container p-4">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <img class="img-fluid" src="assets/images/conceptual-step2.png">
                </div>
                <div class="col-md-7 text-center">
                    <h2 class="jakarta color-secondary fs-1"> 2. Invita a tus participantes<br> a acceder desde la app
                    </h2>
                    <p class="mt-2 fs-5 color-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                        alias
                        ullam
                        dicta reiciendis velit sint sunt voluptatum non dolores ut possimus molestiae dolor</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-4">
        <div class="row align-items-center">
            <div class="col-md-7 text-center">
                <h2 class="jakarta color-secondary fs-1"> 3. Tus participantes <br> confirmaran su asistencia <br> con
                    su
                    geolocalización</h2>
                <p class="mt-2 fs-5 color-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                    alias
                    ullam
                    dicta reiciendis velit sint sunt voluptatum non dolores ut possimus molestiae dolor</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="assets/images/conceptual-step3.png">
            </div>
        </div>
    </div>

    <div class="bg-primary-80">
        <div class="container p-4">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <img class="img-fluid" src="assets/images/conceptual-step4.png">
                </div>
                <div class="col-md-7 text-center">
                    <h2 class="jakarta color-secondary fs-1"> 4. Monitorea las asistencias <br> desde tu panel de
                        organizador</h2>
                    <p class="mt-2 fs-5 color-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                        alias
                        ullam
                        dicta reiciendis velit sint sunt voluptatum non dolores ut possimus molestiae dolor</p>
                </div>
            </div>
        </div>
    </div>
    <div #about></div>
    <div class="container mt-5" id="about">
        <h3 class="montserrat color-secondary fs-5 text-center">
            ACERCA DE
        </h3>
        <h2 class="fs-2 jakarta color-primary-950 text-center">
            Una nueva forma de pasar lista <br> es hacerlo digital
        </h2>
        <p class="mt-3 fs-5 text-center color-secondary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis atque iure facilis <br> numquam explicabo nam
            ex
            consectetur, fuga exercitationem excepturi temporibus <br> possimus, nisi saepe quibusdam minima ab, alias
            maxime.
            Voluptatum!<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis atque iure facilis <br> numquam explicabo nam
            ex
            consectetur, fuga exercitationem excepturi temporibus <br> possimus, nisi saepe quibusdam minima ab, alias
            maxime.
            Voluptatum!

        </p>
    </div>
    <div #services></div>
    <div class="bg-circle" id="services_download">
        <div class="container mt-5" id="services">
            <h3 class="montserrat color-secondary fs-5 text-center">
                SERVICIOS
            </h3>
            <h2 class="fs-2 jakarta color-primary-950 text-center">
                Dos maneras de usar nuestra plataforma
            </h2>
            <div class="row">
                <div class="col-md-6 mt-5 d-flex justify-content-end">
                    <article class="card-service p-5 w-75 bg-white">
                        <h3 class="montserrat fs-2 text-center color-primary-900 text-center"> CONVIERTETE EN
                            <br> ORGANIZADOR
                        </h3>
                        <ul class="montserrat fs-5 color-secondary mt-5 list-style-square">
                            <li> Caracteristica 1 </li>
                            <li> Caracteristica 1 </li>
                            <li> Caracteristica 1 </li>
                            <li> Caracteristica 1 </li>
                        </ul>
                    </article>
                </div>
                <div class="col-md-6 mt-5 d-flex justify-content-start">
                    <article class="card-service p-5 w-75 bg-primary-80">
                        <h3 class="montserrat fs-2 text-center color-primary-900 text-center"> CONVIERTETE EN
                            <br> ORGANIZADOR
                        </h3>
                        <ul class="montserrat fs-5 color-secondary mt-5 list-style-square">
                            <li> Caracteristica 1 </li>
                            <li> Caracteristica 1 </li>
                            <li> Caracteristica 1 </li>
                            <li> Caracteristica 1 </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
        <div id="donwload">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="assets/images/conceptual-download-2.png">
            </div>
            <div class="d-flex justify-content-center">
                <button [routerLink]="'home'" class="fill-button-primary-500 p-3 d-flex align-items-center">
                    <span class="material-symbols-outlined fs-4 me-2">
                        download
                    </span>DESCARGA YA NUESTRA APLICACIÓN </button>

            </div>
        </div>
    </div>
    <footer class="mt-5 bg-primary-900">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mt-5">
                    <h2 class="text-white jakarta mb-3 fs-3"> ¡REGÍSTRATE!</h2>
                    <p class="text-light arial fs-6"> Y organiza la lista de asistencia a tus eventos de la mejor manera
                    </p>
                </div>
                <div class="col-6 col-md-3 mt-5">
                    <h2 class="text-white jakarta fs-4 mb-3"> Nosotros </h2>
                    <ul class="list-style-none p-0">
                        <li class="mb-1">
                            <a (click)="scrollToBenefits()" class="footer-link">Beneficios</a>
                        </li>
                        <li class="mb-1">
                            <a (click)="scrollToUse()" class="footer-link ">Modo de uso</a>
                        </li>
                        <li class="mb-1">
                            <a (click)="scrollToAbout()" class="footer-link ">Acerca de</a>
                        </li>
                        <li class="mb-1">
                            <a (click)="scrollToServices()" class="footer-link ">Servicios</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mt-5">
                    <h2 class="text-white jakarta fs-4 mb-3"> Privacidad</h2>
                    <ul class="list-style-none p-0">
                        <li class="mb-1">
                            <a [routerLink]="''" class="footer-link ">Aviso de privacidad</a>
                        </li>
                        <li class="mb-1">
                            <a [routerLink]="''" class="footer-link ">Terminos y condiciones</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6 pl-lg-5 d-flex align-items-center pt-3">
                    <p class="text-light arial fs-6">Todos los derechos reservados. @2023 CheckAssist.</p>
                </div>
                <!-- <div class="col-12 col-md-6 p-0">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn-shadow">
                            <i class="mdi mdi-instagram text-white fs-1 p-2"></i>
                        </a>
                        <a href="#" class="btn-shadow">
                            <i class="mdi mdi-facebook text-white fs-1 p-2"></i>
                        </a>
                        <a href="#" class="btn-shadow">
                            <i class="mdi mdi-linkedin text-white fs-1 p-2"></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </footer>
</div>