$blue-50: #f6f6ff;
$blue-80: #f0f0ff;
$blue-100: #e4e4ff;
$blue-200: #cdceff;
$blue-300: #a7a6ff;
$blue-400: #7c73ff;
$blue-500: #533bff;
$blue-600: #3e14ff;
$blue-700: #2b00ff;
$blue-800: #2501d6;
$blue-900: #2003af;
$blue-950: #0f0077;
$black-blue: #282437;


#use,
#about,
#services,
#donwload {
    margin-top: 130px !important;
}

#navbar_banner {
    background-size: 50%;
    background-position-x: 115%;
    background-position-y: -120px;
}

@media only screen and (max-width: 767px) {
    #navbar_banner {
        background-size: 90%;
        background-position-x: 210%;
        background-position-y: -80px;
    }
}

#services_download {
    background-size: 1080px;
    background-position-x: -300px;
    background-position-y: 300px;
}

.button-download{
    padding: 13px;
}

card-service {
    width: 75%;
}

@media only screen and (min-width:0px) and (max-width: 990px) {
    card-service {
        width: 100%;
    }
}