<div class="bg-white">
    <div class="bg-circle" id="navbar_banner">
        <app-navbar></app-navbar>
        <header class="container pt-5">
            <div class="row align-items-center">
                <div class="d-none d-md-block col-md-6">
                    <img class="img-fluid" src="assets/images/conceptual-banner-2.png">
                </div>
                <div class="col-md-6">
                    <div class="d-none d-md-block">
                        <h1 class="fs-4 montserrat color-secondary"> CheckAssist </h1>
                        <h2 class="fs-1 jakarta color-secondary mb-4"><span class="color-primary-500">¡Registrate
                            </span>en tu evento! <br> <span class="color-primary-500">Ubicate</span> y confirma
                            <br>
                            tu
                            <span class="color-primary-500">asistencia.</span>
                        </h2>
                        <button [routerLink]="'home'" class="fill-button-primary-500">
                            <span class="material-symbols-outlined fs-6">
                                download
                            </span>
                            Descarga la aplicación
                        </button>
                    </div>
                    <div class="d-flex align-items-center d-md-none text-center" style="height: 90vh;">
                        <div>
                            <h1 class="fs-3 montserrat color-secondary mb-3"> CheckAssist </h1>
                            <h2 class="display-1 jakarta color-secondary mb-4"> <span
                                    class="color-primary-500">¡Registrate
                                </span>en tu evento! <br> <span class="color-primary-500">Ubicate</span> y confirma
                                <br>
                                tu
                                <span class="color-primary-500">asistencia.</span>
                            </h2>
                            <button [routerLink]="'home'" class="fill-button-primary-500">
                                <span class="material-symbols-outlined fs-6">
                                    download
                                </span>
                                Descarga la aplicación
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container mt-5" #benefits id="benefits">
        <div class="row">
            <div class="col-md-3 mt-5">
                <card-benefit [icon]="'task_alt'" [title]="'Efectivo'" [description]="'Disfruta de una interfaz intuitiva para una gestión eficiente de los
                        eventos y participantes.'"></card-benefit>
            </div>
            <div class="col-md-3 mt-5">
                <card-benefit [icon]="'thumb_up'" [title]="'Útil'"
                    [description]="'Te brindamos herramienta prácticas y precisas, enfocadas al máximo ahorro de tiempo.'"></card-benefit>
            </div>
            <div class="col-md-3 mt-5">
                <card-benefit [icon]="'security'" [title]="'Seguro'" [description]="'Contamos con un alto nivel de seguridad
                para que te
                enfoques solo
                en realizar tu trabajo.'"></card-benefit>
            </div>
            <div class="col-md-3 mt-5">
                <card-benefit [icon]="'lightbulb'" [title]="'Innovador'" [description]="'Una nueva forma de pasar lista en tus eventos,
                evita perdidas de tiempo y de información.'"></card-benefit>
            </div>
        </div>
    </div>
    <div #use></div>
    <div class="container p-4" id="use">
        <div class="row align-items-center">
            <div class="col-md-7 text-center">
                <h2 class="jakarta color-secondary fs-1"> 1. Registrate como organizador <br> y crea tu evento</h2>
                <p class="mt-2 fs-5 color-secondary">Realiza tu registro como organizador en nuestra plataforma y accede
                    a todos los beneficios en nuestro panel web, este te permititrá gestionar tus eventos, integrado con
                    una lista de asistencia para la visualización de tus participantes.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="assets/images/conceptual-step1.png">
            </div>
        </div>
    </div>

    <div class="bg-primary-80">
        <div class="container p-4">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <img class="img-fluid" src="assets/images/conceptual-step2.png">
                </div>
                <div class="col-md-7 text-center">
                    <h2 class="jakarta color-secondary fs-1"> 2. Invita a tus participantes<br> a acceder desde la app
                    </h2>
                    <p class="mt-2 fs-5 color-secondary">Una vez que hayas creado tu evento se te proporcionará un
                        código de acceso único para que tus participantes ingresen a través de la aplicación movil y se
                        registren al evento indicado</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-4">
        <div class="row align-items-center">
            <div class="col-md-7 text-center">
                <h2 class="jakarta color-secondary fs-1"> 3. Tus participantes <br> confirmaran su asistencia <br> con
                    su
                    geolocalización</h2>
                <p class="mt-2 fs-5 color-secondary">Una vez llegada la hora del evento, tus participantes podrán
                    registrar su asistencia y salida a través de su geolocalización y una foto, confirmando que se
                    encuentran en el lugar asignado</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="assets/images/conceptual-step3.png">
            </div>
        </div>
    </div>

    <div class="bg-primary-80">
        <div class="container p-4">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <img class="img-fluid" src="assets/images/conceptual-step4.png">
                </div>
                <div class="col-md-7 text-center">
                    <h2 class="jakarta color-secondary fs-1"> 4. Monitorea las asistencias <br> desde tu panel de
                        organizador</h2>
                    <p class="mt-2 fs-5 color-secondary">Puedes monnitorear todos los registros y asisntencias que se
                        vayan completando en tu evento a través desde el panel de organizador, esto te permitirá ver
                        diferentes resultados de tu evento en tiempo real </p>
                </div>
            </div>
        </div>
    </div>
    <div #about></div>
    <div class="container mt-5" id="about">
        <h3 class="montserrat color-secondary fs-5 text-center">
            ACERCA DE
        </h3>
        <h2 class="fs-2 jakarta color-primary-950 text-center">
            Una nueva forma de pasar lista <br> es hacerlo digital
        </h2>
        <p class="mt-3 fs-5 text-center color-secondary">
            la plataforma digital que simplifica la organización y participación en eventos. Nos enorgullece ofrecer una
            solución integral para organizadores y participantes, proporcionando una experiencia sin complicaciones
            desde la planificación hasta la asistencia.
            <br>
            Destacamos por nuestra característica innovadora de confirmación de asistencia basada en geolocalización,
            llevando el pase de lista a la era digital. Eliminamos la complejidad, proporcionando eficiencia tanto para
            organizadores como para participantes.
            <br>
            ¡Descarga nuestra aplicación ahora y haz que la planificación y la participación en eventos sean más simples
            que nunca!

        </p>
    </div>
    <div #services></div>
    <div class="bg-circle" id="services_download">
        <div class="container mt-5" id="services">
            <h3 class="montserrat color-secondary fs-5 text-center">
                SERVICIOS
            </h3>
            <h2 class="fs-2 jakarta color-primary-950 text-center">
                Dos maneras de usar nuestra plataforma
            </h2>
            <div class="row">
                <div class="col-12 col-md-6 mt-5 d-flex justify-content-end">
                    <card-service [bgClass]="'bg-white'" [title]="'PARA'" [afterBr]="'ORGANIZADORES'" [descriptions]="[
                            'Gestión intuitiva a través del panel web ',
                            'Creación y control de acceso a tus eventos',
                            'Lista de asistencia para tu evento',
                            'Historial de eventos anteriores',
                        ]"></card-service>

                </div>
                <div class="col-md-6 mt-5 d-flex justify-content-start">
                    <card-service [bgClass]="'bg-primary-80'" [title]="'PARA'" [afterBr]="'PARTICIPANTES'"
                        [descriptions]="[
                            'Interacción y registro a través de la app móvil.',
                            'Inscripción rápida a los eventos ',
                            'Lista de los eventos a donde tengo que asistir',
                            'Registro de asistencia por geolocalización y foto',
                        ]"></card-service>
                </div>
            </div>
        </div>
        <div id="donwload">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="assets/images/conceptual-download-2.png">
            </div>
            <div class="d-flex justify-content-center">
                <button [routerLink]="'home'" class="fill-button-primary-500 p-3 d-flex align-items-center">
                    <span class="material-symbols-outlined fs-4 me-2">
                        download
                    </span>DESCARGA YA NUESTRA APLICACIÓN </button>

            </div>
        </div>
    </div>
    <footer class="mt-5 bg-primary-900">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mt-5">
                    <h2 class="text-white jakarta mb-3 fs-3"> ¡REGÍSTRATE!</h2>
                    <p class="text-light arial fs-6"> Y organiza la lista de asistencia a tus eventos de la mejor manera
                    </p>
                </div>
                <div class="col-6 col-md-3 mt-5">
                    <h2 class="text-white jakarta fs-4 mb-3"> Nosotros </h2>
                    <ul class="list-style-none p-0">
                        <li class="mb-1">
                            <a (click)="scrollToBenefits()" class="footer-link">Beneficios</a>
                        </li>
                        <li class="mb-1">
                            <a (click)="scrollToUse()" class="footer-link ">Modo de uso</a>
                        </li>
                        <li class="mb-1">
                            <a (click)="scrollToAbout()" class="footer-link ">Acerca de</a>
                        </li>
                        <li class="mb-1">
                            <a (click)="scrollToServices()" class="footer-link ">Servicios</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mt-5">
                    <h2 class="text-white jakarta fs-4 mb-3"> Privacidad</h2>
                    <ul class="list-style-none p-0">
                        <li class="mb-1">
                            <a [routerLink]="''" class="footer-link ">Aviso de privacidad</a>
                        </li>
                        <li class="mb-1">
                            <a [routerLink]="''" class="footer-link ">Terminos y condiciones</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6 pl-lg-5 d-flex align-items-center pt-3">
                    <p class="text-light arial fs-6">Todos los derechos reservados. @2023 CheckAssist.</p>
                </div>
                <!-- <div class="col-12 col-md-6 p-0">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn-shadow">
                            <i class="mdi mdi-instagram text-white fs-1 p-2"></i>
                        </a>
                        <a href="#" class="btn-shadow">
                            <i class="mdi mdi-facebook text-white fs-1 p-2"></i>
                        </a>
                        <a href="#" class="btn-shadow">
                            <i class="mdi mdi-linkedin text-white fs-1 p-2"></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </footer>
</div>