<div id="register" class="bg-circle bg-white">
    <div class="container">
        <div class="row align-items-center" style="height: 100vh;">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="w-75">
                    <div class="w-100 text-center">
                        <img class="w-100 navbar-brand img-fluid clickeable" src="assets/images/logo.png"
                            [routerLink]="''">
                        <h3 class="fs-4 mt-3 color-secondary montserrat">REGISTRO </h3>
                    </div>
                    <form #registerForm="ngForm" (ngSubmit)="sendRegister()">


                        <input type="text" class="form-control mt-4" placeholder="Escriba su nombre" id="name"
                            name="name" [(ngModel)]="dataRegister.name" #name="ngModel" required maxlength="100">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)">
                            <label class="text-error" *ngIf="name.errors && name.errors['required']" class="error">Este
                                campo es
                                requerido.</label>
                            <label class="text-error" *ngIf="name.errors && name.errors['maxlength']" class="error">Este
                                campo
                                acepta máximo 100 caractéres</label>
                        </div>


                        <input type="text" class="form-control mt-4" placeholder="Escriba sus apellidos" id="last_name"
                            name="last_name" [(ngModel)]="dataRegister.last_name" #last_name="ngModel" required
                            maxlength="200">
                        <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
                            <label class="text-error" *ngIf="last_name.errors && last_name.errors['required']"
                                class="error">Este
                                campo es
                                requerido.</label>
                            <label class="text-error" *ngIf="last_name.errors && last_name.errors['maxlength']"
                                class="error">Este
                                campo
                                acepta máximo 200 caractéres</label>
                        </div>


                        <input type="email" class="form-control mt-4" placeholder="Escriba su correo" id="email"
                            name="email" [(ngModel)]="dataRegister.email" #email="ngModel" required emailUniqueValidator
                            [ngModelOptions]="{updateOn: 'blur'}" maxlength="300">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <label class="text-error" *ngIf="email.errors && email.errors['required']"
                                class="error">Este
                                campo es
                                requerido.</label>
                            <label class="text-error" *ngIf="email.errors && email.errors['maxlength']"
                                class="error">Este
                                campo
                                acepta máximo 300 caractéres</label>
                            <label class="text-error" *ngIf="email.errors && email.errors['emailUniqueValidator']"
                                class="error">Ya existe un usuario con este correo</label>
                        </div>


                        <input type="password" class="form-control mt-4" placeholder="Escriba su contraseña"
                            id="password" name="password" [(ngModel)]="dataRegister.password" #password="ngModel"
                            required minlength="8" maxlength="300">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <label class="text-error" *ngIf="password.errors && password.errors['required']"
                                class="error">Este
                                campo es
                                requerido.</label>
                            <label class="text-error" *ngIf="password.errors && password.errors['minlength']"
                                class="error">Este
                                campo
                                acepta mínimo 8 caractéres</label>
                            <label class="text-error" *ngIf="password.errors && password.errors['maxlength']"
                                class="error">Este
                                campo
                                acepta máximo 300 caractéres</label>
                        </div>

                        <button type="submit" class="fill-button-primary-500 mt-4 w-100"
                            [disabled]="registerForm.invalid">Registrarse</button>
                        <div class="mt-3 text-center">
                            <label class="error" *ngIf="showError">Fallo al iniciar sesión. Intentelo de nuevo</label>
                        </div>

                        <div class="d-flex justify-content-evenly align-items-center mt-3">
                            <p class="fs-6 fw-bold font-text color-secondary"> ¿Ya tienes una cuenta?
                                <a [routerLink]="'/login'" class="simple-button-primary-500 fw-weight-700 pe-3">Inicia
                                    Sesión</a>
                            </p>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img class="img-fluid" src="assets/images/conceptual-register.png">
            </div>
        </div>
    </div>
</div>