$blue-50: #f6f6ff;
$blue-80: #f0f0ff;
$blue-100: #e4e4ff;
$blue-200: #cdceff;
$blue-300: #a7a6ff;
$blue-400: #7c73ff;
$blue-500: #533bff;
$blue-600: #3e14ff;
$blue-700: #2b00ff;
$blue-800: #2501d6;
$blue-900: #2003af;
$blue-950: #0f0077;
$black-blue: #282437;

.nav-bar {
    top: 0;
    padding: 0px 80px 0px 120px;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    z-index: 2;
}

.breadcrumb {
    padding: 10px 40px 0px 270px;
}

.input-search {
    border-radius: 5px;
    height: 40px;
    background-color: transparent;
    border: 1px $blue-300 solid;
    padding: 15px;
    transition: 200ms;

    &:focus {
        border: 1px $blue-500 solid;
        outline: none;
        box-shadow: 0px 5px 5px 1px $blue-80;
        transition: 200ms;
    }

}

.avatar {
    border-radius: 50%;
    transition: 200ms;

    &:hover {
        box-shadow: 0px 5px 5px 1px $blue-100;
        transition: 200ms;

    }
}