<div class="nav-bar bg-white">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-10">
                <img class="d-none d-md-block w-25 navbar-brand img-fluid clickeable" src="assets/images/logo.png" [routerLink]="''">
                <img class="d-block d-md-none w-75 navbar-brand img-fluid clickeable" src="assets/images/logo.png" [routerLink]="''">
                
            </div>
            <!-- <div class="col-10 col-md-7">
                <input type="search" class="input-search w-100" placeholder="Buscar...">
            </div> -->
            <div class="col-2 col-md-2 d-flex justify-content-end">
                <img style="width: 40px;" class="clickeable avatar" src="assets/images/profile_avatar.png"
                    [routerLink]="'account'">
            </div>
        </div>
    </div>
</div>