<div class="card p-4" style="z-index: 1;">
    <div class="card-header bg-white border-0">
        <div class="d-md-flex justify-content-between align-items-center">
            <div class="">
                <h3 class="fs-2 color-secondary montserrat"> Mis proximos eventos</h3>
            </div>
            <button class="fill-button-primary-500" (click)="openDialog('create')"> Nuevo Evento</button>
        </div>
        <form #filtersForm="ngForm" (ngSubmit)="reload()" class="filters mt-3 d-md-flex">
            <div class="w-100">
                <label for="filter_name" class="label-filter">Nombre</label>
                <input type="text" class="form form-filter w-100" placeholder="Busqueda por nombre"
                    [(ngModel)]="filters.name" name="filter_name" id="filter_name">
            </div>
            <!-- <div class="w-100">
                <label for="filter_date_meeting" class="label-filter">Despues de la fecha</label>
                <input type="date" class="form form-filter w-100" [(ngModel)]="filters.date_meeting" name="filter_date"
                    id="filter_date">
            </div> -->
            <div class="w-100">
                <label for="filter_start_hour" class="label-filter">Hora de inicio</label>
                <input type="time" class="form form-filter w-100" [(ngModel)]="filters.start_hour"
                    name="filter_start_hour" id="filter_start_hour">
            </div>
            <div class="w-100">
                <label for="filter_end_hour" class="label-filter">Hora de finalización</label>
                <input type="time" class="form form-filter w-100" [(ngModel)]="filters.end_hour"
                    name="filter_end_hour" id="filter_end_hour">
            </div>
            <div class="d-flex align-items-end">
                <button type="submit" class="button-search"> Buscar </button>
            </div>
        </form>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mt-4" *ngFor="let row of entities">
                <div [routerLink]="['/details', row.id]" class="p-4 card-meeting bg-primary-80">
                    <p class="color-secondary arial text-size"> {{row.date_meeting}}</p>
                    <h4 class="montserrat fs-4 color-secondary text-truncate">{{row.name}} </h4>
                    <p class="color-secondary arial text-size"> {{row.start_hour}} - {{row.end_hour}} </p>
                </div>
            </div>
        </div>
        <p class="text-muted text-center" *ngIf="entities.length == 0">Sin resultados</p>
        <!-- <div class="d-flex justify-content-end mt-4 w-100 overflow-x-auto">
            <div class="d-flex justify-content-center">
                <a class="button-pagination">1</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination">2</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination-fill">3</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination">4</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="button-pagination">5</a>
            </div>

        </div> -->
    </div>
</div>