<div class="p-0">
    <div class="sidebar bg-primary-900 collapsing navbar-collapse">
        <div
            class="sidebar-header d-flex justify-content-center align-items-center p-2 bg-primary-950 text-white clickeable">
            <span class="material-symbols-outlined fs-1">
                menu
            </span>
        </div>
        <div class="sidebar-body">
            <div class="d-flex justify-content-center text-white icon-sidebar p-3" title="Inicio">

                <span class="material-symbols-outlined fs-1">
                    home
                </span>
            </div>
            <div class="d-flex justify-content-center text-white icon-sidebar p-3" [routerLink]="'my-meetings'"
                title="Mis próximos eventos" *ngIf="userLogged.id_profile==2">

                <span class="material-symbols-outlined fs-1">
                    event
                </span>
            </div>
            <div class="d-flex justify-content-center text-white  icon-sidebar p-3" [routerLink]="'history-meetings'"
                title="Historial de eventos" *ngIf="userLogged.id_profile==2">

                <span class="material-symbols-outlined fs-1">
                    calendar_clock
                </span>
            </div>
            <div class="d-flex justify-content-center text-white  icon-sidebar p-3" [routerLink]="'meetings'"
                title="Eventos" *ngIf="userLogged.id_profile==1">

                <span class="material-symbols-outlined fs-1">
                    event
                </span>
            </div>
            <div class="d-flex justify-content-center text-white  icon-sidebar p-3" [routerLink]="'users'"
                title="Usuarios" *ngIf="userLogged.id_profile==1">

                <span class="material-symbols-outlined fs-1">
                    group
                </span>
            </div>
            <div class="d-flex justify-content-center text-white icon-sidebar p-3" (click)="logOut()" title="Salir">

                <span class="material-symbols-outlined fs-1 ">
                    logout
                </span>
            </div>
        </div>

    </div>

</div>